{% extends "../layouts/default.twig" %}

{% block css %}
<link rel='stylesheet' href="/css/contact.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="fw-page-builder-content">
		<section id="section-5731eea962b99" class=" fw-main-row-custom fw-main-row-top fw-section-no-padding  auto  " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-b22d88a4a9a0f535053b955b1436601f" class="fw-col-sm-12 tf-sh-b22d88a4a9a0f535053b955b1436601f">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:60px;"></div>
										</div>
								</div>
						</div>
						
						{% import "../mixins/flash-messages.twig" as FlashMessages %}
						{% if enquirySubmitted %}
						<div class="fw-row">
								<div id="column-cd981a19a5cb59eb6da3b5ba2269b163" class="fw-col-sm-12 fw-col-md-8 tf-sh-cd981a19a5cb59eb6da3b5ba2269b163  fw-animated-element fw-col-no-padding" data-animation-type="fadeInLeft" data-animation-delay="300">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
											{{ FlashMessages.renderMessage("Thank you for contacting us. We'll get back to you shortly!",'success') }}
										</div>
								</div>
						</div>
						{% endif %}

						<div class="fw-row">
								<div id="column-cd981a19a5cb59eb6da3b5ba2269b163" class="fw-col-sm-12 fw-col-md-8 tf-sh-cd981a19a5cb59eb6da3b5ba2269b163  fw-animated-element fw-col-no-padding" data-animation-type="fadeInLeft" data-animation-delay="300">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-heading fw-heading-left  tf-sh-c81d7edeb2cd77f9ab924d7e69751a67">
														<h1 class="fw-big-title">CONTACT <span>US</span></h1>


												</div>
												<div class="fw-text-box tf-sh-b64347b6b97d76f2928def54d7aab4be ">
														<div class="fw-text-inner">
																<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar eleentum vestibulum.</p>
														</div>
												</div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-b22d88a4a9a0f535053b955b1436601f" class="fw-col-sm-12 tf-sh-b22d88a4a9a0f535053b955b1436601f">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  fw-mobile-hide-element clearfix" style="height:75px;"></div>
										</div>
								</div>
						</div>

				</div>
		</section>
		<section id="section-5731eea964b70" class=" fw-main-row-custom fw-section-no-padding  auto  " style="   ">
				<div class="fw-container-fluid">
						<div class="fw-row">
								<div id="map" class="scrolloff" class="fw-col-sm-12 tf-sh-177210be8b6de76dbd86365dbeb70c2e  fw-col-no-padding">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="wrap-map fw-map  tf-sh-87c262c2bfdccb6c6e4adc21c3ca0089" data-class="">
													<iframe
													  width="100%"
													  height="450"
													  frameborder="0" style="border:0"
													  src="https://www.google.com/maps/embed/v1/place?key={{gmaps_api_key}}
														&q=Frida+Kahlo+Community+Organization,Chicago,IL" allowfullscreen>
													</iframe>
												</div>
										</div>
								</div>
						</div>

				</div>
		</section>
		<section id="section-5731eea96879d" class=" fw-main-row-custom fw-section-no-padding  auto  " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-90aada5eac0668f754f0f9c8e6286c2c" class="fw-col-sm-12 tf-sh-90aada5eac0668f754f0f9c8e6286c2c">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space space-sm  clearfix"></div>
												<div class="fw-heading fw-heading-center  fw-animated-element tf-sh-17d893b42ff3216de4fa588d3034a44a" data-animation-type="fadeInUp" data-animation-delay="200">
														<h2 class="fw-small-title">Frida Kahlo Community Organization</h2>


												</div>
												<div class="fw-text-box tf-sh-b198886d1a7af812a1d7ea9b231e6386  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="200">
														<div class="fw-text-inner">
																<p style="text-align: center;">1244 W 18th St, Chicago, IL 60608
																		<br />(312) 421-7599
																		<br />contact@fridacommunity.org</p>
														</div>
												</div>
												<div class="fw-divider-space space-md clearfix"></div>
										</div>
								</div>
						</div>

				</div>
		</section>
		<section id="section-5731eea96a27c" class=" fw-main-row-custom fw-section-no-padding fw_theme_bg_color_1 auto  " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-525cb2445bb6076c8b37d02615f21374" class="fw-col-sm-12 tf-sh-525cb2445bb6076c8b37d02615f21374  fw-animated-element" data-animation-type="fadeIn" data-animation-delay="300">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-contact-form tf-sh-fa598166380669fb01e4ab7c1b6ba20e ">
														<div class="fw-row wrap-forms wrap-contact-forms">
																<form data-fw-form-id="fw_form" class="fw_form_fw_form" method="post" data-fw-ext-forms-type="contact-forms">
																		<input type="hidden" name="action" value="contact">
																		<div class="fw-row">
																				<div class="header title">
																						<h2 class="fw-contact-form-title">CONTACT FRIDA</h2>
																				</div>
																		</div>
																		<div class="fw-row">
																				<div class="fw-col-xs-12 fw-col-sm-6 form-builder-item">
																						<div class="field-text">
																								<label>Your Name</label>
																								<input type="text" name="name.full" value="{{ formData['name.full'] | default('') }}" placeholder="Your name here..." id="id-1" required="required">
																						</div>
																				</div>
																				<div class="fw-col-xs-12 fw-col-sm-6 form-builder-item">
																						<div class="field-text">
																								<label>Your Email</label>
																								<input type="email" name="email" value="{{ formData.email | default('') }}" placeholder="Your email address here..." id="id-2" required="required">
																						</div>
																				</div>
																		</div>
																		<div class="fw-row">
																				<div class="fw-col-xs-12 fw-col-sm-6 form-builder-item">
																						<div class="field-text">
																								<label>How Did You Hear From Us?</label>
																								<select name="referralSource" class="selectized" required>
																									<option value=""></option>
																									{% for opt in refTypes %}
																									<option value="{{opt.value}}">{{opt.label}}</option>
																									{% endfor %}
																								</select>
																						</div>
																				</div>
																				<div class="fw-col-xs-12 fw-col-sm-6 form-builder-item">
																						<div class="field-text">
																								<label>Who Are You? <!-- Who, who, who, who? I really wanna know--></label>
																								<select name="personType" class="selectized" required>
																									<option value=""></option>
																									{% for opt in perTypes %}
																									<option value="{{opt.value}}">{{opt.label}}</option>
																									{% endfor %}
																								</select>
																						</div>
																				</div>
																		</div>
																		<div class="fw-row">
																				<div class="fw-col-xs-12 form-builder-item">
																						<div class="field-textarea">
																								<label>Your Message</label>
																								<textarea name="message" placeholder="Your message here..." id="id-3" required="required"></textarea>
																						</div>
																				</div>
																		</div>
																		<div class="fw-row"></div>
																		<div class="fw-row">
																				<div class="fw-col-sm-12 field-submit text-right">
																						<button type="submit" class="fw-btn  fw-btn-md fw-btn-1" style="">
																								<span>
							Send      									</span>
																						</button>
																				</div>
																		</div>
																</form>
														</div>
												</div>
										</div>
								</div>
						</div>

				</div>
		</section>
		<section id="section-5731eea9818a2" class=" fw-main-row-custom fw-section-no-padding  auto  fw-mobile-hide-element " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-b22d88a4a9a0f535053b955b1436601f" class="fw-col-sm-12 tf-sh-b22d88a4a9a0f535053b955b1436601f">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:135px;"></div>
										</div>
								</div>
						</div>

				</div>
		</section>
</div>
{% endblock %}

{% block js %}
<script>
function scrollOn() {
    $('#map').removeClass('scrolloff'); // set the pointer events true on click
}

function scrollOff() {
    $('#map').addClass('scrolloff'); // set the pointer events true on click
}

$(function(){
	$('.selectized').selectize({
		create: true,
		sortField: 'text'
	});
});
</script>
{% endblock %}