{%spaceless%}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("Frida Kahlo Community Organization | Our passion is our community") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<link rel='stylesheet' id='ls-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Lato:100,300,regular,700,900' type='text/css' media='all' />
		<link rel='stylesheet' id='bootstrap-css'  href='/css/bootstrap.css' type='text/css' media='all' />
		<link rel='stylesheet' id='the-core-style-css'  href='/css/the-core-style.css' type='text/css' media='all' />
		<link rel='stylesheet' id='prettyPhoto-css'  href='/css/prettyPhoto.css' type='text/css' media='all' />
		<link rel='stylesheet' id='animate-css'  href='/css/animate.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/style.css' />

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	
	<body class="page page-id-8 page-child parent-pageid-6 page-template page-template-visual-builder-template page-template-visual-builder-template-php give-test-mode give-page fw-full fw-website-align-center fw-section-space-md header-1 fw-top-bar-off fw-no-absolute-header fw-top-social-right fw-header-sticky fw-top-logo-left fw-logo-image fw-logo-retina" itemscope="itemscope" itemtype="http://schema.org/WebPage">
		<div id="page" class="hfeed site">
		
			{# HEADER #}
			{% if hideNav != true %}
			<header class="fw-header">
				<div class="fw-header-main">
				
				
					<div class="fw-row custom-nav type-2">
						<div class="fw-container">
							<div class="brand">
								<a href="/">
									<img alt="Frida" src="/images/logo.png">
								</a>
							</div>
							<ul class="nav-links">
								{% for item in navLinks %}
								<li {% if active == item.active %}class="current-item"{%endif%}>
									<a href="{{item.href}}">
										{{item.label}}
									</a>
									{% if item.children %}
									<ul class="sub-nav">
									{% for item2 in item.children %}
									<li>
										<a href="{{item2.href}}">{{item2.label}}</a>
									</li>
									{% endfor %}
									</ul>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
							<div class="mobile-toggle">
								<a href="#">
								
								</a>
							</div>
							<div class="mobile-menu">
							
							</div>
						</div>
					</div>
				</div>
			</header>
			{% endif %}			
			
			{# BODY #}
			<div id="main" class="site-main">
				{# NOTE:
					 There is no .container wrapping class around body blocks to allow more flexibility in design.
					 Remember to include it in your templates when you override the intro and content blocks! #}

				{# The Intro block appears above flash messages (used for temporary information display) #}
				{% block intro %}{% endblock %}

				{# The content block should contain the body of your template"s content #}
				{% block content %}{% endblock %}
			</div>
			
			{# FOOTER #}
			<footer id="colophon" class="site-footer fw-footer " role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
				<div class="fw-footer-widgets footer-cols-4">
					<div class="fw-inner">
						<div class="fw-container">
							<div class="fw-row">
								<div class="fw-col-md-3 fw-col-sm-6">
									<aside id="nav_menu-2" class="widget widget_nav_menu">
										<h2 class="widget-title"><span>FRIDA KAHLO</span></h2>
										<div class="menu-who-we-are-container">
											<ul id="menu-who-we-are" class="menu">
												<li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-8 current_page_item menu-item-226">
													<a href="/about/our-mission" >APPROACH</a>
												</li>
												<li id="menu-item-221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
													<a href="/about/our-team" >OUR TEAM</a>
												</li>
												<li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222">
													<a href="/programs/faq" >FAQ</a>
												</li>
												<li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223">
													<a href="/contact" >CONTACT</a>
												</li>
											</ul>
										</div>
									</aside>						
								</div>
								<div class="fw-col-md-3 fw-col-sm-6">
									<aside id="nav_menu-3" class="widget widget_nav_menu">
									<h2 class="widget-title"><span>WHAT WE DO</span></h2>
									<div class="menu-what-we-do-container">
										<ul id="menu-what-we-do" class="menu">
											<li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222">
												<a href="/programs/all" >PROGRAMS</a>
											</li>
											<li id="menu-item-233" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222">
												<a href="/immigration" >IMMIGRATION</a>
											</li>
											<li id="menu-item-227" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227"><a href="/volunteer/get-involved" >GET INVOLVED</a></li>
											<li id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a href="/programs/events-calendar" >EVENTS</a></li>
											<li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229"><a href="/moments" >GALLERY</a></li>
											<li id="menu-item-231" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-231"><a href="/blog" >BLOG</a></li>
										</ul>
									</div>
									</aside>
								</div>
								<div class="fw-col-md-3 fw-col-sm-6">
									<aside id="text-6" class="widget widget_text">
									<h2 class="widget-title"><span>ABOUT US</span></h2>			
									<div class="textwidget">
										<span style="padding-right:30px;">
											Lorem ipsum dolor sit amet, ad mea mazim putant dissentias. Dico primis cum et, et verear aliquid equidem ius, mel no nonumes nostrum dissentiunt. 
											Nulla ubique docendi his te, eu magna epicurei eum.</span>
										</div>
									</aside>						
								</div>
								<div class="fw-col-md-3 fw-col-sm-6">
									<aside id="text-3" class="widget widget_text">
										<h2 class="widget-title"><span>FIND US ELSEWHERE</span></h2>			
										<div class="textwidget" style="left: -12px;position: relative;">
											<a href="#">
												<img style="margin-right:10px;" src="/img/social/footer-social-facebook.png">
											</a>
											<a href="#">
												<img style="margin-right:10px;" src="/img/social/footer-social-google.png">
											</a>
											<a href="#">
												<img style="margin-right:10px;" src="/img/social/footer-social-twitter.png">
											</a>
											<a href="#">
												<img style="margin-right:10px;" src="/img/social/footer-social-flickr.png">
											</a>
											<a href="#">
												<img style="margin-right:10px;" src="/img/social/footer-social-vimeo.png">
											</a>
											<a href="#">
												<img style="margin-right:10px;" src="/img/social/footer-social-skype.png">
											</a>
										</div>
									</aside>
									<aside id="text-2" class="widget widget_text">			
										<div class="textwidget">&copy;Copyright {{year}}
										Frida Kahlo Community Organization
										Chicago, Illinois USA
										</div>
									</aside>						
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="fw-footer-bar fw-copyright-center">
				<div class="fw-container">
				<div class="fw-copyright"></div>
				</div>
				</div>
			</footer>
			
		</div>

		{# JAVASCRIPT #}
		<script src="/js/jquery-2.2.3.min.js"></script>
		<script src="/js/jquery.touchSwipe.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/selectize.min.js"></script>
		<script src="/js/modernizr.min.js"></script>
		<script src="/js/jquery.stellar.min.js"></script>
		<script src="/js/lazysizes.min.js"></script>
		<script src="/js/jquery.prettyPhoto.js"></script>
		<script src="/js/general.js"></script>
		<script src="/js/custom-nav.js"></script>
		{% block js %}{% endblock %}
		
		<script>
		Element.prototype.exportStyles = (function () {  

			// Mapping between tag names and css default values lookup tables. This allows to exclude default values in the result.
			var defaultStylesByTagName = {};

			// Styles inherited from style sheets will not be rendered for elements with these tag names
			var noStyleTags = {"BASE":true,"HEAD":true,"HTML":true,"META":true,"NOFRAME":true,"NOSCRIPT":true,"PARAM":true,"SCRIPT":true,"STYLE":true,"TITLE":true};

			// This list determines which css default values lookup tables are precomputed at load time
			// Lookup tables for other tag names will be automatically built at runtime if needed
			var tagNames = ["A","ABBR","ADDRESS","AREA","ARTICLE","ASIDE","AUDIO","B","BASE","BDI","BDO","BLOCKQUOTE","BODY","BR","BUTTON","CANVAS","CAPTION","CENTER","CITE","CODE","COL","COLGROUP","COMMAND","DATALIST","DD","DEL","DETAILS","DFN","DIV","DL","DT","EM","EMBED","FIELDSET","FIGCAPTION","FIGURE","FONT","FOOTER","FORM","H1","H2","H3","H4","H5","H6","HEAD","HEADER","HGROUP","HR","HTML","I","IFRAME","IMG","INPUT","INS","KBD","KEYGEN","LABEL","LEGEND","LI","LINK","MAP","MARK","MATH","MENU","META","METER","NAV","NOBR","NOSCRIPT","OBJECT","OL","OPTION","OPTGROUP","OUTPUT","P","PARAM","PRE","PROGRESS","Q","RP","RT","RUBY","S","SAMP","SCRIPT","SECTION","SELECT","SMALL","SOURCE","SPAN","STRONG","STYLE","SUB","SUMMARY","SUP","SVG","TABLE","TBODY","TD","TEXTAREA","TFOOT","TH","THEAD","TIME","TITLE","TR","TRACK","U","UL","VAR","VIDEO","WBR"];

			// Precompute the lookup tables.
			for (var i = 0; i < tagNames.length; i++) {
				if(!noStyleTags[tagNames[i]]) {
					defaultStylesByTagName[tagNames[i]] = computeDefaultStyleByTagName(tagNames[i]);
				}
			}

			function computeDefaultStyleByTagName(tagName) {
				var defaultStyle = {};
				var element = document.body.appendChild(document.createElement(tagName));
				var computedStyle = getComputedStyle(element);
				for (var i = 0; i < computedStyle.length; i++) {
					defaultStyle[computedStyle[i]] = computedStyle[computedStyle[i]];
				}
				document.body.removeChild(element); 
				return defaultStyle;
			}

			function getDefaultStyleByTagName(tagName) {
				tagName = tagName.toUpperCase();
				if (!defaultStylesByTagName[tagName]) {
					defaultStylesByTagName[tagName] = computeDefaultStyleByTagName(tagName);
				}
				return defaultStylesByTagName[tagName];
			}

			return function exportStyles() {
				if (this.nodeType !== Node.ELEMENT_NODE) {
					throw new TypeError("The exportStyles method only works on elements, not on " + this.nodeType + " nodes.");
				}
				if (noStyleTags[this.tagName]) {
					throw new TypeError("The exportStyles method does not work on " + this.tagName + " elements.");
				}
				var styles = {};
				var computedStyle = getComputedStyle(this);
				var defaultStyle = getDefaultStyleByTagName(this.tagName);
				for (var i = 0; i < computedStyle.length; i++) {
					var cssPropName = computedStyle[i];
					if (computedStyle[cssPropName] !== defaultStyle[cssPropName]) {
						styles[cssPropName] = computedStyle[cssPropName];
					}
				}

				var a = ["{"];
				for(var i in styles) {
					a[a.length] = i + ": " + styles[i] + ";";
				}
				a[a.length] = "}"
				return a.join("\r\n");
			}

		})();
		</script>
		
	</body>
</html>{% endspaceless %}
